@font-face {
    font-family: HelveticaNeueCyr-Roman; /* Имя шрифта */
    src: url(../files/fonts/HelveticaNeueCyr-Roman.woff); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: HelveticaNeueCyr-Bold; /* Имя шрифта */
    src: url(../files/fonts/HelveticaNeueCyr-Bold.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: HelveticaNeueCyr-Light; /* Имя шрифта */
    src: url(../files/fonts/HelveticaNeueCyr-Light.woff); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: HelveticaNeueCyr-Medium; /* Имя шрифта */
    src: url(../files/fonts/HelveticaNeueCyr-Medium.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: HelveticaNeueCyr; /* Имя шрифта */
    src: url(../files/fonts/HelveticaNeueCyr-Black.ttf); /* Путь к файлу со шрифтом */
}
@font-face {
    font-family: futuralightc; /* Имя шрифта */
    src: url(../files/fonts/futuralightc.otf); /* Путь к файлу со шрифтом */
}

.user-ab .name , .city-name , .sex-pred {
    font-family: HelveticaNeueCyr;
}
.place{
    font-family: HelveticaNeueCyr-Roman;
}
.text  a{
    font-family: HelveticaNeueCyr-Medium;
}

.place-city , .bottom-menu .top-nav li , .bottom-menu .top-nav li a , .user-name , #nav-tab a{
    font-family: HelveticaNeueCyr-Bold;
}

.top-nav li, .top-nav li a , .user-menu p {
    font-family: HelveticaNeueCyr-Light;
}

#nav-tabContent {
    font-family: futuralightc;
}
