html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.place{
    font-size: 12px;
    color: #858c8e;
}
.place-city{
    font-size: 12px;
    color: #3f3f43;
}
.top-menu{
    padding: 16px 0 11px 0;
    border-bottom: 1px solid
    #ececec;
}
.top-nav , .top-nav li, .top-nav li a{
    list-style: none;
    color: #373636;
    text-transform: uppercase;
    font-size: 12px;
}
.top-nav{
    padding-left: 0px;
    margin-bottom: 0px;
}
.top-nav li , .bottom-menu .top-nav li {
    display: inline-block;
    margin-right: 15px;
}
.in-cabinet i{
    margin-right: 10px;
}
.in-cabinet{
    cursor: pointer;
}
.cabinet-btn{
    text-align: right;
    cursor: pointer;
}
.in-cabinet{
    margin-right: 20px;
    border: 1px solid#514c4c;
    padding: 5px 20px;
    border-radius: 20px;
    letter-spacing: 2px;
    color: #514c4c;
    background: #fff;
}
.logo{
    padding-top: 10px;
}
.bottom-menu .top-nav li , .bottom-menu .top-nav li a {
    font-size: 22px;
    color: #3f3f43;
}
.bottom-menu .top-nav > li{
    line-height: 100px;
}
.bottom-menu .top-nav li a:hover{
    color: #496bef !important;
}
.top-menu .cabinet-btn{
    margin-top: -5px;
}
.register-btn{
    line-height: 15px;
}
#addpostform-image, #header_form , #w0 i{
    display: none;
}
.img-label{
    background: url('/files/img/nophoto.png') , #fff;
    display: block;
    background-position: center;
    width:100%;
    min-height: 225px;
    cursor: pointer;
    position: relative;
    margin-top: 5px;
    background-repeat: no-repeat;
    border-radius: 5px;
    overflow: hidden;
}
.wrap{
    background: #edeef0;
}
header{
    background: #fff;
    margin-bottom: 25px;
}
.img-label p{
    text-align: center;
    padding-top: 180px;
    font-size: 18px;
    text-transform: uppercase;
    color: #767676;
    line-height: 17px;
    font-weight: bold;
}
.form-info{
    display: none;
}
.user-menu p {
    margin-bottom: 0;
    text-transform: uppercase;
    line-height: 15px;
    font-size: 12px;
    padding-top: 3px;
}
.user-menu{
    background:  #fff;
    padding: 15px 20px;
    border-radius: 5px;
    margin-top: 10px;
}
.user-menu div{
    line-height: 15px;
}
.user-menu-list , .user-ab-wrap , .sidebar-menu-list{
    margin-top: 10px;
    background: #fff;
    border-radius: 5px;
}
.user-menu-ul {
    list-style: none;
    padding-left: 0px;
}
.user-menu-item {
    border-bottom: 1px solid #ededed;
    line-height: 45px;
    padding-left: 18px;
}
.my-page i{
    color:#9ed88a ;
}
.my-message i{
    color:#6b91ea ;
}
.my-favorite i{
    color:#e06562 ;
}
.my-settings i{
    color:#7fb28a ;
}
.my-logout i{
    color:#be9353 ;
}
.text {
    padding-left: 20px;
}
.user-menu-item .text{
    color: #858c8e;
}
.text  a{
    color: #858c8e;
}
.user-manu , .user-ab {
    cursor: pointer;
}
.user-ab .name{
    color: #3f3f43;
    font-size: 10px;
}
.user-ab-item{
    padding: 20px;
}
.user-ab{

}
.user-ab-item{
    border-bottom: 1px solid #ededed;
}
.text-ab{
    font-size: 12px;
    color: #777;
}
img{
    max-width: 100%;
}
.exist-img .form-text{
    display: none;
}
.exist-img .form-group{
    margin-bottom: 0px;
}
.exist-img {
    min-height: auto;
}
.slider-nav .slick-current{
    filter: brightness(45%);
}
.slider-for .item.slick-slide {
    max-height: 250px;
    overflow: hidden;
    margin-bottom: 25px;
}
.slider-nav .item {
    margin: 0 5px;
}
.slider-nav .slick-prev , .slider-nav .slick-next{
    height: 100%;
    background:hsla(0, 0%, 0%, 0.52);
    width: 35px;
    z-index: 2;
}
.slider-nav .slick-prev:hover , .slider-nav .slick-next:hover{
    background:hsla(0, 0%, 0%, 0.52);
}
.slider-nav .slick-prev{
    left: 0px;
}
.slider-nav .slick-next{
    right: 0px;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{
    background:hsla(0, 0%, 0%, 0.52)!important;
}
.anket{
    border-radius: 5px;
    margin-top: 10px;
    margin-right: -15px;
}
.user-sidebar .alert-success{
    margin-top: 15px;
    margin-bottom: 10px;
}
.img-wrap a, .img-wrap a .img{
    width: 100%;
}
.city-name{
    color: #838c8e;
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.user-name{
    color: #1f1f1f;
    font-size: 19px;
}
#nav-tab a{
    font-size: 9px;
    text-transform: uppercase;
    color: #838d8f;
    padding: 7px 30px;
    line-height: 16px;
    border-radius: 0px;
}
.single-left-column.page-block.page_photo {
    padding: 19px;
}
#nav-tab .active{
    color: #fff;
    background: #838d8f;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border: none;
}
.nav-tabs {
    border: none;
}
.nav-tabs .nav-link {
    border: none;
}
#nav-tabContent div p{
    font-size: 13px;
    margin-bottom: 5px;
}
#nav-home {
    padding-top: 10px;
    padding-left: 15px;
}
.service-block ul li{
    margin-right: 20px;
    color: #838d8f;
    font-size: 11px;
    float: left;
    width: 44%;
}
.service-block ul{
    padding-left:25px;
}
.sex-pred {
    font-size: 10px;
    text-transform: uppercase;
    color: #838d8f;
    padding-left: 15px;
    letter-spacing: 2px;
}
.param-tab{
    padding-top: 10px;
    padding-left: 15px;
}
.heading-anket{
    font-size: 22px;
    color: #393d3f;
    text-align: center;
}
#addpostform-service label{
    width: 32%;
}
label{
    margin-bottom: 5px;
}
.edit-form{
    padding: 15px;
}
.popular-block {
    background: #496bef;
    padding: 30px;
    border-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0px;
}
.popular-block span{
    color: #fff;
}
.best-nad{
    font-size: 12px;
}
.popular-anket{
    font-size: 32px;
    margin-bottom: 23px;
}
.popular-anket {
    font-weight: bold;
    line-height: 32px;
}
.best-nad {
    margin-bottom: 42px;
}
.popular-block a{
    font-size: 12px;
    color: #fff;
    letter-spacing: 3px;
    margin-top: 30px;
    border: 1px solid
    #7a92ee;
    padding: 12px 17px;
    border-radius: 25px;
    display: inline-block;
}
.check-nad {
    margin-top: 12px;
    display: block;
}
.popular-wrap{
    background: #fff;
    margin-left: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin-bottom: 15px;
}
.popular-block-wrap{
    padding-left: 0;
}
.popular-anket-wrap{
    padding-top: 20px;
}
.razd{
    border: 1px solid
    #939a9b;
    width: 34px;
    margin: 0 auto;
    margin-top: 0px;
    margin-top: 22px;
}
.popular-anket-wrap .name{
    color:#3d3f41;
    text-align: center;
    margin-top: 10px;
}
.img-wrap{
    min-height: 200px;
}
.img-wrap img{
    display: block;
    margin: 0 auto;
}
.side-bar-nav-burger{
    cursor:pointer;
}
.sidebar-menu-list .card-header{
    padding: 10px;
}
.sidebar-menu-list .card-header .btn-link{
    color: #3f3f43;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.card{
    border: none;
}
.sidebar-menu-list .card-body a{
    display: block;
    color: #838d8f;
    font-size: 13px;
}
.card-header{
    background: #fff;
}
.card-body{
    background: #f7f7f7;
}
.user-ab-wrapper{
    max-height: 500px;
    overflow-y: scroll;
    margin-right: -12px;
}
.user-ab-wrap{
    overflow: hidden;
}
.all-advert{
    text-align: center;
    width: 100%;
    display: block;
    color: #858b8b;
    font-size: 10px;
    text-transform: uppercase;
}
.name{
    color: #3f3f43;
    font-size: 10px;
    text-transform: uppercase;
}
.advert-item{
    margin-bottom: 15px;
}
.advert-item-icon{
    text-align: center;
}
h1{
    font-size: 32px;
}
.content-wrap{
    margin-top: 15px;
}
.city-list {
    list-style: none;
    column-count: 2;
    padding: 15px;
    margin-bottom: 0;
}
.user-name{
    margin-bottom: 10px;
}
#under-avatar-form .field-under-avatar-form-input{
    display:none;
}
.post-photo{
    position: relative;
}
#under-avatar-form .img-label-wrap{
    position: absolute;
    background: #0000008c;
    color: #fff;
    width: 100%;
    text-align: center;
    font-size: 12px;
    cursor: pointer;
    z-index: 1;
    height: 23px;
    bottom:0;
}
.post-photo .img{
    width: 100%;
}

.present{
    margin-bottom: 10px
}
.present-item{
    text-align: center;
}
.present-item .btn{
    display: block;
    margin: 10px 0;
}
.present-recepient{
    display: inline-block;
}
.modal-gift-present .form-group{
    margin-bottom: 0px;
}
.present-profile{
    text-align: center;
}
.modal-gift-present .img-wrap {
    min-height: inherit;
}
.user-presents-list .present-name{
    font-size: 12px
}
.dialog_list{
    background: #fff;
    border-radius: 4px 4px 0 0;
    padding-top: 0px;
    height: 100%;
    margin-top: 10px;
}
.read-dialog{
    background: #fff!important;
}
.dialog_item .dialog-text{
    height: 71px;
    box-sizing: border-box;
    padding: 3px 0;
}
.nim-dialog--inner-text{
    background: #f0f2f5;
    border-radius: 3px;
    padding: 5px 0 5px 8px;
    display: inline-block;
    width: 95%;
    box-sizing: border-box;
    color: #4e5966;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
}
.nim-dialog--content{
    border-top: 1px solid #e7e8ec;
}
.dialog_item .dialog-text .dialog-name{
    height: 19px;
    color: #222;
    margin-top: 3px;
    font-size: 13px;
    margin-bottom: 7px;
    font-weight: bold;
}
.dialog_item_ul{
    padding-left: 0;
}
.dialog_item_ul .dialog_item:first-child .nim-dialog--content{
    border-top: none;
}
.not-read-dialog{
    background: #f0f2f5;
}
.im-prebody img {
    position: relative;
    overflow: hidden;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    -moz-force-broken-image-icon: 0;
    background-color: #f0f2f5;
    position: relative;
}
.dialog_list .dialog_item_ul{
    overflow: visible;
    min-height: 100%;
    background: #fff;
    height: auto;
    margin-bottom: 15px;
    border-radius: 4px;
    padding-bottom: 45px;
}
.dialog_item_ul .dialog_item{
    height: 71px;
    padding-left: 20px;
    box-sizing: border-box;
    padding: 0 0 0 15px;
    padding-left: 15px;
    display: block;
    width: 100%;
    cursor: pointer;
}
.dialog-photo{
    width:50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-top: 10px;
}
.article-anket-wrap{
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 15px;
}
.article-anket-wrap .name{
    text-align: center;
    margin-top: 5px;
}
.like-wrap div{
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 21px;
    cursor: pointer;
    color: #797e7f;
    padding: 8px 0;
}
.like-wrap{
    border-top: 1px solid #f3f3f3;
    border-bottom: 1px solid #f3f3f3;
    margin-top: 10px;
}
.message , .favorite{
    border-right: 1px solid #ededed;
}
.phone{
    text-align: center;
    color: #858b8c;
    padding: 10px 0;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    cursor: pointer;
}
.main-banner{
    background: #fff;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
    margin-bottom: 15px;
}
.main-banner-wrap{
    padding-right: 0;
}
.text-main{
    font-size: 14px;
    color: #3c3e3f;
}
.baner-menu-img{
    margin: 0 auto;
    display: block;
}
.banner-menu-list{
    padding-left: 0;
    list-style: none;
    margin-bottom: 0px;
}
.banner-menu-list li a{
    font-size: 22px;
}
.banner-menu-list li{
    line-height: 26px;
}
.main-banner-item{
    margin-bottom: 15px;
}
.main-banner-item img{
    margin-top: 10px;
}
.marc {
    height: 32px;
    line-height: 32px;
    padding-left: 16px;
    padding-right: 4px;
    border: 1px solid #d2d2d2;
    border-radius: 50px;
    font-size: 14px;
    white-space: nowrap;
    color: #333;
    -webkit-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: all .2s ease-in-out;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 15px;
    margin-top: 0px;
    background: #fff;
}
.marc:hover {
    text-decoration: none;
    background-color: #f5f5f5;
}
.marc:hover span i {
    color: #fb3f4c;
    transition: all .2s ease-in-out;
}
.marc:hover span {
    background-color: #fff;
    transition: all .2s ease-in-out;
}
.marc span {
    display: inline-block;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 32px;
    border-radius: 50%;
    position: relative;
    top: 3px;
}
.marc span i {
    line-height: 24px;
    position: relative;
    top: -4px;
}
.marc-text{
    width: inherit !important;
    background: none !important;
    top: -1px !important;
}
.btn-viiti{
    padding-left: 0;
    padding-top: 0;
}
.top-nav li{
    position: relative;
}
.secodn-menu{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
    z-index: 1;
    background: #496bef;
    top: 84px
}
.bottom-menu .secodn-menu li a{
    color: #fff;
}
.bottom-menu .secodn-menu li a:hover{
    color: #fff!important;
}
ul li:hover > .secodn-menu,
ul li .secodn-menu:hover {
    visibility: visible;
    opacity: 1;
    display: block;
}
.secodn-menu{
    padding: 20px;
}
.secodn-menu li a{
    font-size: 14px!important;
    text-transform: none;
}
.secodn-menu li {
    margin-right: 0!important;
    line-height: 30px!important;
    white-space: pre;
    display: block!important;
    text-align: center!important;
}
.small-nav{
    padding-top: 25px;
}
.mobile-header{
    display: none;
}
.mobile-nav{
    list-style: none;
    padding:0;
}
.mobile-icon{
    background-repeat: repeat;
    background-repeat: no-repeat;
    width: 38px;
    height: 21px;
    font-size: 21px;
    line-height: 54px;
}
.mobile-nav{
    text-align: center;
}
.mobile-nav li a {
    color:#000;
}

.mobile-nav li .in-cabinet {
    margin-right: 0px;
    border:inherit;
}
.place-mobile , .popular-block-mobile{
    display: none;
}
.main-banner-wrap-mobile{
    display: none;
}
.mobile-filter-icon{
    display:none;
}
.slider-items-single button:before{
    color: #000 !important;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
    background: hsla(0, 0%, 100%, 0.52) !important;
}
.article-anket-wrap .img-wrap {
    min-height: 260px;
    align-items: center;
    display: flex;
    justify-content: center;
    max-height: 260px;
    overflow: hidden;
}
.page_top{
    border-bottom: 1px solid #e7e8ec;
}
.profile_info_row {
    padding-top: 5px;
}
.profile_info .label {
    width: 165px;
    color: #828282;
    font-size: 13px;
}
.labeled{
    font-size: 13px;
    color: #2a5885;
}
.post_image {
    display: block;
    float: left;
    border-radius: 50%;
    overflow: hidden;
    width: 50px;
}
.post-photo img{
    display: block;
    margin: 0 auto;
}
.post_header_info {
    margin-left: 65px;
    padding-top: 8px;
    line-height: 16px;
}
.open-comment-btn , .like-btn {
    color: #a7acb7;
    font-size: 18px;
    margin-top: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}
.comment-wall-form{
    position: relative;
}
.comment-wall-form textarea{
    height: 35px;
    font-size: 13px;
}
.comment-wall-form{
    margin-top: 5px;
}
.send-comment-btn  , .message-send-btn{
    position: absolute;
    top: 6px;
    right: 15px;
    z-index: 8;
    cursor: pointer;
}
#message-form .alert-success{
    margin-top: 15px;
}
.form-otvet{
    margin-right: 50px;

}
.post_date, .post_date .post_link, .post_date .wall_text_name_explain_promoted_post {
    color: #939393;
}
.post_date {
    white-space: pre;
    font-size: 12.5px;
}
.wall-tem{
    margin-top: 15px;
    padding: 20px !important;
}
.author{
    color: #2a5885;
    font-size: 13px;
    font-weight: 500;
}
.open-comment-btn , .like-btn{
    margin-right: 20px;
    float: left;
}
.like-info{
    font-size: 12px;
    color: #2a5885;
    padding: 0px 0 10px 0;
    display: block
}

.post-text{
    margin-top:0px;
    font-size:13px;
    border-bottom: 1px solid #e7e8ec;
    padding: 10px 0px;
}
.profile_info_row {
    padding-top: 5px;
}
.profile_label_less , .profile_full{
    display: none;
}
.wall-form{
    margin-top: 15px;
}
.wall-send-btn{
    max-width: 120px;
}
.wall-form .form-group{
    text-align:right;
}
.wall-form .form-control{
    font-size: 13px;
}
#wall-form .alert{
    margin-bottom: 0px;
}
.labeled {
    overflow: hidden;
    text-overflow: ellipsis;
}
.black-text{
    color:#000;
}
.profile_info {
    line-height: 150%;
}

.profile_more_info_link {
    display: block;
    margin: 10px 0 -5px;
    border-radius: 4px;
    height: 34px;
    line-height: 32px;
    text-align: center;
    color: #2a5885 !important;
    font-size: 13px;
    cursor: pointer;
}
.profile_more_info_link {
    line-height: 32px;
}
.profile_more_info_link:hover {
    background-color: #f0f2f5;
    text-decoration: none;
}
.fl_l {
    float: left;
}
.profile_btn_cut_left{
    margin-top: 10px;
    border-radius: 4px 0 0 4px!important;
    border-right: 1px solid #6a98cc!important;
    height: 30px;
}
.button_blue button, .button_gray button, .button_light_gray button, .flat_button {
    padding: 7px 16px 8px;
    padding-right: 16px;
    padding-left: 16px;
    margin: 0;
    margin-top: 0px;
    font-size: 12.5px;
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    white-space: nowrap;
    outline: none;
    font-family: -apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Geneva,"Noto Sans Armenian","Noto Sans Bengali","Noto Sans Cherokee","Noto Sans Devanagari","Noto Sans Ethiopic","Noto Sans Georgian","Noto Sans Hebrew","Noto Sans Kannada","Noto Sans Khmer","Noto Sans Lao","Noto Sans Osmanya","Noto Sans Tamil","Noto Sans Telugu","Noto Sans Thai",sans-serif,arial,Tahoma,verdana;
    vertical-align: top;
    line-height: 15px;
    text-align: center;
    text-decoration: none;
    background: none;
    background-color: rgba(0, 0, 0, 0);
    background-color: #496bef;
    color: #fff;
    border: 0;
    border-right-color: currentcolor;
    border-right-style: none;
    border-right-width: 0px;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%
}
.page-photo{
    margin-top: 15px;
}
.item{
    margin-right: 10px;
}
.slider{
    padding: 5px 20px 5px;
    text-align: center;
}
.page_photo .flat_button, .page_photo .page_actions_expanded, .page_photo .page_actions_wrap {
    margin-top: 10px;
}
.page-top{
    border-bottom: 1px solid #e7e8ec;
}
.profile_btn_cut_right {
    border-radius: 0 4px 4px 0!important;
    border-right: 1px solid #5e82a7!important;
    height: 30px;
    width: 38px;
    padding-left: 11px;
}
.clear_fix::after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}
 .cut_left {
    width: 183px;
    float: left;
}
 .cut_right {
    width: 38px;
    float: left;
}
 .presents{
     margin-top: 15px;
 }
.page-block{
    background: #fff;
    padding: 15px 15px 15px 15px;
    border-radius: 3px;
    box-shadow: 0 1px 0 0 #d7d8db,0 0 0 1px #e3e4e8;
    position: relative;
}
.wall-tem-menu {
    position: absolute;
    right: 20px;
    top: 15px;
    color: #2a5885;
    cursor: pointer;
}
.slider .item{
    position:relative;
}
.item .wall-tem-menu{
    width: 20px;
    height: 20px;
    right: 30px;
    top: 5px;
    background: #fff;
    border-radius: 50%;
    text-align:center;
}
.all-photo .img{
    width: 100%;
}
.like-count{
    display:inline;
}
.item .wall-tem-menu i{
    position: relative;
    top: -2px;
}
.comments-list .post_image{
    max-width: 34px;
    margin-top: 9px;
}
.comments-list .post_header_info{
    margin-left: 45px;
    padding-top: 0px;
}
.comments-list .post-text-related{
    margin-top: 0;
    padding: 0;
}
.comments-list {
    margin: 0 -20px;
    padding: 10px 20px;
    border-top: 1px solid #ccc;
    border-top: 1px solid #e7e8ec;
}
.comments-list .post-text{
    border-bottom: none;
}
.comment-item{
    margin-top: 10px;
}
.comments-list .comment-item:first-child{
    margin-top: 1px;
}
.slider .slick-dots{
    display:none;
}
.chat{
    display: flex;
    flex-direction: column-reverse;
}
.chat .img{
    width:35px
}
.chat .chat{
    border-bottom:inherit;
}
.chat .post-text{
    border-bottom: inherit;
}
.chat .post_header_info {
    margin-left: 55px;
    padding-top: 0px;
    line-height: 10px;
}
.chat .wall-tem{
    padding: 0 !important;
}
.dialog-name a{
    color:#000;
}
.chat-block{
    margin-top:10px;
}
.chat{
    min-height: 45vh;
}
#message-form{
    position: relative;
}
.slider .slick-dotted.slick-slider {
    margin-bottom: 0px!important;
}
.icon-close{
    text-align: right;
}
#w0{
    display:none;
}
.user-manu-wrap{
    align-items: center;
    display: flex;
    justify-content: center;
}
.mobile-present{
    display: none;
}
.friends{
    margin-top:15px;
}
.user-friends-list .post_image{
    margin: 0 auto;
    float:none;
}
.user-friends-list .author{
    font-size:12px;
}
.small-heading{
    color: #2a5885!important;
    font-size: 14px;
    font-weight: 500;
    margin-bottom:10px;
    display: block;
}
.user-friends-list{
    text-align: center;
}
.friends_user_row:first-child {
    border-top: none;
}
.friends_user_row {
    border-top: 1px solid #e7e8ec;
    padding: 12px 0;
    clear: both;
    position: relative;
}
.friends_photo_wrap {
    float: left;
    margin: 0 15px 0 0;
    position: relative;
    width: 80px;
    height: 80px;
    overflow: hidden;
}
.friends_photo_img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    -moz-force-broken-image-icon: 0;
    background-color: #f0f2f5;
    position: relative;
    position: static;
}
.friends-list{
    margin-top: 10px;
}
.friends_user_info {
    padding: 5px 10px 0 0;
    overflow: hidden;
}
.friends_field_title {
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px;
    color: #42648b;
}
.friends_field {
    margin-bottom: 9px;
    color: #656565;
    word-wrap: break-word;
}
.friends_field_act {
    float: left;
    padding: 0 0 4px 0;
}
a {
    color: #2a5885;
    text-decoration: none;
    cursor: pointer;
}
.clear_fix::after {
    content: ".";
    display: block;
    height: 0;
    font-size: 0;
    line-height: 0;
    clear: both;
    visibility: hidden;
}
@media (max-width: 1199px) {
    .mobile-present{
        display: block;
    }
    .mobile-menu .user-sidebar{
        max-height: 82vh;
        overflow-x: hidden;
    }
    .img-label-wrap{
        display:block;
        position:relative;
    }
    .cabinet-mobile-menu .user-menu-item{
        line-height: 35px;
    }
    .img-label-wrap .plus{
        position: absolute;
        color: #7fb28a;
        right: 85px;
        bottom: -5px;
    }
    .cabinet-mobile-menu .icon-close{
        text-align:right;
    }
    .user-sidebar .user-menu-item{
        padding-left: 0px;
        border-bottom: inherit;
    }
    .user-sidebar{
        display:none;
    }
    .mobile-nav .user-sidebar .img-label{
        width: 75px;
        height: 75px;
        border-radius: 50%;
        margin: 0 auto;
    }
    .user-menu span.user-manu{
        display: none;
    }
    .mobile-menu .user-sidebar{
        display:block;
    }
    .anket{
        margin-top: 15px;
    }
    .mobile-icon{
        float:right;
    }
    .content-wrap {
        margin-top: 0px;
    }

    .banner-item-wrap{
        padding: 5px;
    }
    .mobile-header .logo img{
        max-width: 103px;
    }
    .menu-nav , .user-ab-wrap , .sidebar-wrap{
        display: none;
    }
    .sidebar-wrap{
        position: fixed;
        right: 0;
        left: 0;
        z-index: 1030;
        width: 300px;
        top: 0px;
        box-shadow: 0 0 35px rgba(0, 0, 0, 0.20);
        background: #fafafa;
        transition: all 0.2s ease-out;
        width: 280px;
        overflow: auto;
        overflow-x: auto;
        max-height: 100vh;
        overflow-x: hidden;
    }
    .filter-sidebar{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .mobile-filter-icon{
        display:block;
        position: fixed;
        right: 0px;
        z-index: 3;
        width: 40px;
        height: 40px;
        background: #fff;
        text-align: center;
        line-height: 40px;
        box-shadow: 1px 1px 3px #55555530;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        top: 100px;
    }
    .banner-menu-list li a {
        font-size: 14px;
    }
    .main-banner-wrap-mobile{
        display: block;
    }
    .main-banner-wrap {
        padding-right: 15px;
    }
    .banner-wrap{
        display: none;
    }
    .slick-prev::before, .slick-next::before{
        color: #000!important;
    }
     .slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
        background: none !important;
    }
    .popular-block-mobile .slick-next , .main-banner-wrap-mobile .slick-next{
        right: 10px;
        z-index: 2;
    }
    .popular-block-mobile .slick-prev , .main-banner-wrap-mobile .slick-prev {
        left: 10px;
        z-index: 2;
    }
    .popular-block-wrap-mobile .popular-anket{
        font-size: 24px;
    }
    .popular-block-wrap-mobile{
        background: #fff;
        padding: 5px;
        border-radius: 5px;
    }
    .mobile-header .logo{
        padding-top: 0px;
    }
    .popular-block-mobile{
        display: block;
    }
    .place-mobile{
        display: inline;
    }
    .place-desc , .popular-wrap{
        display: none;
    }
    .mobile-nav li{
        margin-bottom: 5px;
    }
    .mobile-header .place{
        line-height: 55px;
    }
    .mobile-header{
        display: block;
        padding: 10px 0;
    }
    .icon-close i{
        font-size: 19px;
    }
    .icon-close {
        cursor: pointer;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 6px;
        background-position-x: 0%;
        background-repeat: repeat;
        background-size: auto;
        background-repeat: no-repeat;
        height: 55px;
        background-position-x: center;
        margin-top: -10px;
        background-size: contain;
        padding-right: 20px;
    }
    .mobile-menu {
        background: #fff;
        left: -285px;
        height: 100%;
        position: fixed;
        z-index: 12;
        width: 285px;
    }
    .single-left-column img{
        width: 100%;
    }
    .top-menu , .bottom-menu{
        display: none;
    }
    .anket{
        margin-right: 0px;
    }
    .profile_btn_cut_left{
        border-radius: 5px!important;
    }
    .cut_left{
        width: 100%;
    }
    #profile_send_gift_btn{
        display:none;
    }
    .mobile-present{
        display: block;
    }
}
@media (max-width: 767px) {
    .profile_info .label {
        width: 100px;
    }
    .profile_info {
        margin-top: 0px;
    }
    .single-left-column.page-block.page_photo {
        padding: 10px;
    }
    .button_link.cut_left {
        border-radius: 5px;
    }
}
@media (min-width: 576px) and (max-width: 1199px) {
    .left-column-anket {
        padding-right: 5px;
    }
    .right-column-anket {
        padding-left: 5px;
    }
}
@media (max-width: 575px) {
    .profile_info{
        margin-top : 15px;
    }

}
