html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
    margin-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.place{
    font-size: 12px;
    color: #858c8e;
}
.place-city{
    font-size: 12px;
    color: #3f3f43;
}
.top-menu{
    padding: 16px 0 11px 0;
    border-bottom: 1px solid
    #ececec;
}
.top-nav , .top-nav li, .top-nav li a{
    list-style: none;
    color: #373636;
    text-transform: uppercase;
    font-size: 12px;
}
.top-nav{
    padding-left: 0px;
    margin-bottom: 0px;
}
.top-nav li , .bottom-menu .top-nav li {
    display: inline-block;
    margin-right: 15px;
}
.in-cabinet i{
    margin-right: 10px;
}
.in-cabinet{
    cursor: pointer;
}
.cabinet-btn{
    text-align: right;
    cursor: pointer;
}
.in-cabinet{
    margin-right: 20px;
    border: 1px solid#514c4c;
    padding: 5px 20px;
    border-radius: 20px;
    letter-spacing: 2px;
    color: #514c4c;
    background: #fff;
}
.logo{
    padding-top: 10px;
}
.bottom-menu .top-nav li , .bottom-menu .top-nav li a {
    font-size: 22px;
    color: #3f3f43;
}
.bottom-menu .top-nav{
    line-height: 100px;
}
.bottom-menu .top-nav li a{
    color: #496bef !important;
}
.top-menu .cabinet-btn{
    margin-top: -5px;
}
.register-btn{
    line-height: 15px;
}
#addpostform-image{
    display: none;
}
.img-label{
    background: url('/files/img/nophoto.png') , #fff;
    display: block;
    background-position: center;
    width:100%;
    min-height: 225px;
    cursor: pointer;
    position: relative;
    margin-top: 5px;
    background-repeat: no-repeat;
    border-radius: 5px;
    overflow: hidden;
}
.wrap{
    background: #cacaca;
}
header{
    background: #fff;
    margin-bottom: 25px;
}
.img-label p{
    text-align: center;
    padding-top: 180px;
    font-size: 18px;
    text-transform: uppercase;
    color: #767676;
    line-height: 17px;
    font-weight: bold;
}
.form-info{
    display: none;
}
.user-menu p {
    margin-bottom: 0;
    text-transform: uppercase;
    line-height: 15px;
    font-size: 12px;
    padding-top: 3px;
}
.user-menu{
    background:  #fff;
    padding: 15px 20px;
    border-radius: 5px;
    margin-top: 10px;
}
.user-menu div{
    line-height: 15px;
}
.user-menu-list , .user-ab-wrap{
    margin-top: 10px;
    background: #fff;
    border-radius: 5px;
}
.user-menu-ul {
    list-style: none;
    padding-left: 0px;
}
.user-menu-item {
    border-bottom: 1px solid #ededed;
    line-height: 45px;
    padding-left: 18px;
}
.my-page i{
    color:#9ed88a ;
}
.my-message i{
    color:#6b91ea ;
}
.my-favorite i{
    color:#e06562 ;
}
.my-settings i{
    color:#7fb28a ;
}
.my-logout i{
    color:#be9353 ;
}
.text {
    padding-left: 20px;
}
.user-menu-item .text{
    color: #858c8e;
}
.text  a{
    color: #858c8e;
}
.user-manu , .user-ab {
    cursor: pointer;
}
.user-ab .name{
    color: #3f3f43;
    font-size: 10px;
}
.user-ab-item{
    padding: 20px;
}
.user-ab{

}
.user-ab-item{
    border-bottom: 1px solid #ededed;
}
.text-ab{
    font-size: 12px;
    color: #777;
}
img{
    max-width: 100%;
}
.exist-img .form-text{
    display: none;
}
.exist-img .form-group{
    margin-bottom: 0px;
}
.exist-img {
    min-height: auto;
}
.slider-nav .slick-current{
    filter: brightness(45%);
}
.slider-for .item.slick-slide {
    max-height: 250px;
    overflow: hidden;
    margin-bottom: 25px;
}
.slider-nav .item {
    margin: 0 5px;
}
.slider-nav .slick-prev , .slider-nav .slick-next{
    height: 100%;
    background:hsla(0, 0%, 0%, 0.52);
    width: 35px;
    z-index: 2;
}
.slider-nav .slick-prev:hover , .slider-nav .slick-next:hover{
    background:hsla(0, 0%, 0%, 0.52);
}
.slider-nav .slick-prev{
    left: 0px;
}
.slider-nav .slick-next{
    right: 0px;
}
.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{
    background:hsla(0, 0%, 0%, 0.52)!important;
}
.anket{
    background: #fff;
    border-radius: 5px;
    margin-top: 5px;
    padding: 10px;
}
.city-name{
    color: #838c8e;
    font-size: 10px;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.user-name{
    color: #1f1f1f;
    font-size: 28px;
    text-transform: uppercase;
}
#nav-tab a{
    font-size: 9px;
    text-transform: uppercase;
    color: #838d8f;
    border-radius: 22px;
    padding: 7px 30px;
    line-height: 16px;
}
#nav-tab .active{
    color: #fff;
    background: #838d8f;
}
.nav-tabs .nav-link:hover, .nav-tabs .nav-link:focus {
    border: none;
}
.nav-tabs {
    border: none;
}
.nav-tabs .nav-link {
    border: none;
}
#nav-tabContent div p{
    font-size: 13px;
}
#nav-home {
    padding-top: 10px;
    padding-left: 15px;
}
.service-block ul li{
    margin-right: 20px;
    color: #838d8f;
    font-size: 11px;
    float: left;
    width: 44%;
}
.service-block ul{
    padding-left:25px;
}
.sex-pred {
    font-size: 10px;
    text-transform: uppercase;
    color: #838d8f;
    padding-left: 15px;
    letter-spacing: 2px;
}
.param-tab{
    padding-left: 25px;
    padding-top: 15px;
}