html,
body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}
.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.place{
    font-size: 12px;
    color: #858c8e;
}
.place-city{
    font-size: 12px;
    color: #3f3f43;
}
.top-menu{
    padding: 16px 0 11px 0;
    border-bottom: 1px solid
    #ececec;
}
.top-nav , .top-nav li, .top-nav li a{
    list-style: none;
    color: #373636;
    text-transform: uppercase;
    font-size: 12px;
}
.top-nav{
    padding-left: 0px;
    margin-bottom: 0px;
}
.top-nav li , .bottom-menu .top-nav li {
    display: inline-block;
    margin-right: 15px;
}
.in-cabinet i{
    margin-right: 10px;
}
.in-cabinet{
    cursor: pointer;
}
.cabinet-btn{
    text-align: right;
    cursor: pointer;
}
.in-cabinet{
    margin-right: 20px;
    border: 1px solid#514c4c;
    padding: 5px 20px;
    border-radius: 20px;
    letter-spacing: 2px;
    color: #514c4c;
    background: #fff;
}
.logo{
    padding-top: 10px;
}
.bottom-menu .top-nav li , .bottom-menu .top-nav li a {
    font-size: 22px;
    color: #3f3f43;
}
.bottom-menu .top-nav{
    line-height: 100px;
}
.bottom-menu .top-nav li a{
    color: #496bef !important;
}
.top-menu .cabinet-btn{
    margin-top: -5px;
}
.register-btn{
    line-height: 15px;
}
#addpostform-image{
    display: none;
}
.img-label{
    background: url('/files/img/nophoto.png') , #fff;
    display: block;
    background-position: center;
    width:100%;
    min-height: 225px;
    cursor: pointer;
    position: relative;
    margin-top: 5px;
    background-repeat: no-repeat;
    border-radius: 5px;
}
.wrap{
    background: #cacaca;
}
header{
    background: #fff;
}
.img-label p{
    text-align: center;
    padding-top: 180px;
    font-size: 18px;
    text-transform: uppercase;
    color: #767676;
    line-height: 17px;
    font-weight: bold;
}